.side-bar .site-footer{
    display:none;
}


// Improved search-box visibility 

.main-header {
    height: 80px;
}

.search-label .search-icon {
    width: 1.8rem;
    height: 1.8rem;
    color: #5c5962;
}

.search-active .search-input {
    padding-left: 3.3rem;
}

.search-input { 
    padding-left: 4.5rem 
}

.search-input:hover { 
    background-color: #f5f6fa;
}

.site-header {
    height: 80px;
    max-height: 80px;
}


