/*-----General styling-----*/
$font-family-theme:  'PT Sans', sans-serif;
$h2-color: $primary;

/*-----Top navigation-----*/
$topnav-title-color: $black;
$topnav-brand-height: 50px;
$topnav-bg: $white;

/*-----Sidebar-----*/
$sidebar-bg: $white;
$sidebar-color: $dark;
$sidebar-lvl2-bg: transparent;
$sidebar-lvl2-color: $dark;
$sidebar-lvl3-bg: transparent;
$sidebar-lvl3-color: $dark;
$sidebar-bg-active: $light;
$sidebar-color-active: $dark;

/*-----TOC-----*/
$toc-bg: $light;

/*-----Section navigation tiles-----*/
$nav-card-bg: $light;
$nav-card-header-bg: $light;
$nav-card-header-color: $dark;

/*-----More information tiles-----*/
$info-card-bg: $light;
$info-card-header-bg: $light;
$info-card-header-color: $dark;

/*-----Contributors-cards-----*/
$contr-card-bg: $light;

/*-----Events & news-----*/
$news-border-color: $dark;

/*-----Footer-----*/
$footer-bg: $dark;
$footer-color: $white;
$footer-link-color: $white;
$footer-link-color-hover: $primary;
$footer-copyright-bg: $dark;

